$home-left:linear-gradient(to bottom right, rgba(28, 98, 136, 0.5), rgba(131, 124, 173, 0.5));
$home-right:linear-gradient(to right, rgba(221, 221, 221, 0.5), rgba(149, 186, 199, 0.5));
$box-shadow: 0 5px 5px rgba(black, 0.3);

