#book-container{
  width: 100vw;
}

#book-header{
  padding-top: 10rem;
  margin-left: 2rem;
}

.book-containter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  position: relative;
}

#background_video{
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}


.video-box {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &--modal {
    width: 20%;
    border: 1px solid #666;
    height: 3rem;

  }
}

