#book-container{
  width: 100vw;
}

#book-header{
  padding-top: 10rem;
  margin-left: 2rem;
}

.book-containter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  position: relative;
}

#background_video{
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}


.video-box {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &--modal {
    width: 20%;
    border: 1px solid #666;
    height: 3rem;

  }
}
#videoDiv2 {width:100vw;  margin:auto; display:block; position: relative;} /* This has been changed */
#video2 {
  width: 100vw;
  height: 100%;
}
#videoMessage2 { position: absolute; top: 0; left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.cd-next{
  display: block;
  height: 50px;
  width: 50px;
  overflow: hidden;
  -webkit-transition: opacity .2s 0s,visibility .2s 0s;
  -moz-transition: opacity .2s 0s,visibility .2s 0s;
  transition: opacity .2s 0s,visibility .2s 0s;
  z-index: 5000;
}
.down-arrow{
  width: 40px;
}

@media (max-width: 576px) {
  #videoDiv2{
    margin-top: 94px;
  }
  .cd-next{
    display: none ;
  }
}