.cabinet-page{
  font-weight: 300
;

  a{
    color: #666666;

    &:hover{
      color: #b5c5d3;
    }

  }
}
#cabinet_header{
  padding-top: 10rem;
}
.cabinet-content {
  display: flex;
  flex-direction: row;
}

#cabinet-background{
  border-radius: 5px;
  box-shadow: 0 7px 30px rgba(0,0,0,0.1);
  padding-bottom: 2rem;
}
.cabinet-header{
  padding-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

.btn-custom{
  background-color: #d4e3f1;
  border-color: transparent!important;
  box-shadow:0 6px 14px rgba(0,0,0,0.12), 0 0 0 rgba(0,0,0,0.24) ;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.14);
    background-color: #9bbdd6;
    color: #666666!important;
  }
}

.wrapper{
  max-width: 90%!important;
}
.cabinet-img-modal{
  position: relative;

  .cabinet-img{
    position: absolute;
    width: 50%;
    z-index: 10;
    outline-offset: 2rem;
    box-shadow: 9px 9px 14px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all .2s;
    &:hover{
      z-index: 11;
      transform: scale(1.3);
    }
    &--2{
      right:0;
      top:1rem;
      width: 100%;
      height: 17rem;
    }
    &--3{
      width: 100%;
      height: 17rem;
      top: 22rem;
      right:0;
    }
  }
}

.cabinet-content-text{
  color: #666666;
  padding-left: 1rem;
}

.acces-content{
  display: flex;
  flex-direction: row;
  position: relative;

}

.acces-text{
  color: #666666;
  padding-left: 1rem;
}

.acces-info{
  margin-top: 3rem;
}

.acces-img{
  height: 20rem;
  width: 90%;
  border-radius: 5px;
  margin-left: 1rem;
}

.doctolib-btn {
  margin-top: 3rem;
  border-radius: 0.25rem;
  padding: 0 2rem;
  border-color: transparent!important;
  background-color:#d4e3f1!important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all .3s;
  font-weight: bold;

  &:hover{
    transform: translateY(-3px);
    background-color:#d4e3f1!important;
  }
  &:active{
    transform: translateY(3px);
  }
  a:hover{
    color:#666666;
  }
  &:hover .icon-doctolib{
    transform: scale(1.5);
    margin-left: 1rem;
  }
  p{
    margin-bottom: 0;
  }
}

#head {
  background: linear-gradient(to right, rgba(221, 221, 221, 1), rgba(149, 186, 199, 0.1)), url("../img/carousel-1.jpg");
  background-size: cover; min-height:520px; text-align: center; padding-top:240px; color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300; }
#head.secondary { height:100px; min-height: 100px; padding-top:0px; }
#head .lead { font-family:"Open sans", Helvetica, Arial; font-size:44px; margin-bottom:6px; color: #fff; line-height:1.15em; }
#head .tagline { color:#fff; margin-bottom:25px; font-size: 2rem; }
#head .tagline a { color:#fff; }
#head .btn { margin-bottom:10px;}
#head .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
#head .btn-default:hover,
#head .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
#head .btn-default:active,
#head .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
  #head { min-height:420px; padding-top:160px; }
  #head .lead { font-size: 34px; }


}
@media (max-width: 576px) {
  .cabinet-content-text{
    padding:1rem 0 0 0;
  }
  .acces-text{
    padding-left: 0;
  }
  .doctolib-btn{
    margin-bottom: 2rem;
  }
}