#page {
  margin: 0 3rem 7rem 3rem;
  width: 95vw;
  text-align: left;
}

.header--primary {
  color: #b5c5d3;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.header--secondary {
  color: #666;
  margin-top: 0.5rem;
  font-style: italic;
  font-family: 'GFS Didot', serif;
}