/*#page {
  margin: 0 3rem 7rem 3rem;
  width: 95vw;
  text-align: left;
}*/

.header--primary {
  font-weight: 400;
  color: #d4e3f1;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.custom-shadow{
  box-shadow: 0.067em 0.067em 4.133em rgba(12, 71, 84, 0.08)!important;

}
.header--secondary {
  font-size: 2rem;
  color: #575E69;
  margin-top: 0.5rem;
  font-style: italic;
  font-family: 'GFS Didot', serif;
}
  .header--tertiaire {
    text-align: center;
    font-size: 1.8rem;
    color: #666;
    margin-top:3rem;
    font-style: italic;
    font-family: 'GFS Didot', serif;
  }

@media (max-width: 599px) {
  .header--primary {
    font-size: 2rem;
  }
}

