.home {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  backface-visibility: hidden;
  overflow: hidden;
  margin-left: 50%;
  transform: translateX(-50%);

  a {
    text-decoration: none;
  }

  a:hover {
    color: #333333;
  }

  &--1 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(221, 221, 221, 1), rgba(149, 186, 199, 0.1)), url("../img/cover-left-picture.jpg");
    background-size: cover;
    background-position: center;
    color: #666;
    overflow: hidden;
    animation-name: moveInLeft;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    transition: width 1.5s;

    &:hover {
      width: 80%;
      box-shadow: 10px 5px 10px rgba(black, 0.5);

    }
  }

  &--2 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(221, 221, 221, 0.1), rgba(149, 186, 199, 1)), url("../img/cover-right-picture.jpg");
    background-size: cover;
    background-position: center;
    color: #F9F9F9;
    animation-name: moveInRight;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    transition: width 1.5s;

    &:hover {
      width: 80%;
      box-shadow: -10px 5px 10px rgba(black, 0.2);
    }

  }
}

.home-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    font-size: 1.3rem;
  }
}

.home-square {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5rem;
  text-align: center;
  transition: all .3s;

  &:hover {
    transform: translateY(-10px);
  }

  &:active {
    transform: translateY(5px);

  }

}

.home__link {
  font-size: 1.5rem;
  text-align: center;
  padding: 5px 5px;
  width: 300px;

  &--1 {
    color: #fefefe;
    transition: all .5s;

    &:hover {
      color: #666;
      transform: scale(1.3);
    }

    &::after {
      text-align: center;
      content: '';
      display: block;
      width: 5%;
      height: 2px;
      background: #fefefe;
      transition: width .3s;
    }

    &:hover::after {
      width: 100%;
      transition: width .5s;
    }
  }

  &--2 {
    color: #666;
    transition: all .5s;

    &:hover {
      color: #fefefe;
      transform: scale(1.3);
    }

    &::after {
      text-align: center;
      content: '';
      display: block;
      width: 5%;
      height: 2px;
      background: #666;
      transition: width .3s;
    }

    &:hover::after {
      width: 100%;
      transition: width .5s;
    }
  }
}

@media only screen and (max-width: 992px) {
  .home-box {
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    border-radius: 0;
    height: 100vh;

    &--1 {
      color: #666;
      width: 100%;
      box-shadow: 0 5px 5px rgba(black, 0.2);
      background: none;

      a {
        color: #666;
      }

      &:hover {
        width: 100%;
      }
    }

    &--1 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to right, rgba(221, 221, 221, 1), rgba(149, 186, 199, 0.1)), url("../img/cover-left-picture.jpg");
      background-size: cover;
      background-position: center;
      color: #666;
    }
    &--2 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to right, rgba(221, 221, 221, 0.1), rgba(149, 186, 199, 1)), url("../img/cover-right-picture.jpg");
      background-size: cover;
      background-position: center;
      color: #F9F9F9;
    }
  }

  .home__link {
    &--1 {
      color: #666;

      &:hover {
        color: #b5c5d3;
      }

      &::after {
        background: #666;
      }
    }

    &--2 {
      &:hover {
        color: #b5c5d3;
      }
    }
  }
  .home-square {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5rem;
    text-align: center;
    transition: all .3s;

    &:hover {

    }

    &:active {


    }

  }

}