#specialisation {
  padding-top: 10rem;
}

.spe-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3rem 1rem;
  a:hover {
    color: #8cbddd !important;
  }
}

.spe-img-box {

  width: 30%;
  height: 20rem;
  border: 1px solid #F4F4F4;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 4px;
  transition: all .2s;
  &:hover{
    transform: scale(1.1);
  }

  &--1 {
    background-image: url("../img/sport.jpg ");
    background-size: cover;
  }

  &--2 {
    background-image: url("../img/baby-1.jpg");
    background-size: cover;
  }
  &--3 {
    background-image: url("../img/pregnant.jpg");
    background-size: cover;
  }
}

.spe-img {
  width: 100%;
}