.navigation {
  a {
    text-decoration: none;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: #fff;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 200;
    text-align: center;
    cursor: pointer;
    border: 1px solid #eee;
  }

  &__background {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: fixed;
    top: 1.5rem;
    right: 2.5rem;
    background-image: radial-gradient(rgb(221, 221, 221), rgb(149, 186, 199));
    z-index: 100;
    transition: transform 1s cubic-bezier(0.85, 0, 0.15, 1);
    transform: scale(0);
  }

  &__nav {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 150;
    opacity: 0;
    width: 0;
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);


  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    list-style: none;
    width: 100%;
  }

  &__item {
    margin: 1rem;

  }

  &__link {

    &:link,
    &:visited {
      display: inline-block;
      font-size: 2rem;
      font-weight: 300;
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      color: #4C7EA2;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 220%;
      transition: all 0.5s;
    }

    &:hover,
    &:active {
      background-position: 200%;
      transform: translateX(1rem);
    }

    &__sub{
      font-size: 1rem!important;
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(100);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  &__icon {
    position: relative;
    margin-top: 2rem;

    &,
    &::before,
    &::after {
      width: 1.5rem;
      height: 2px;
      background-color: #333;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &:before {
      top: -0.5rem;
    }

    &:after {
      top: 0.5rem;
    }
  }

  &__button:hover &__icon::before {
    top: -0.9rem;
  }

  &__button:hover &__icon::after {
    top: 0.9rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }
}

.navigation__sub{
  font-size: 1rem;
}