

.navbar {
  top: 0!important;
  width: 100vw!important;
  position: fixed !important;
  z-index: 500;
  background-color: #d4e3f1 !important;
  box-shadow: 0.067em 0.067em 4.133em rgba(12, 71, 84, 0.08)!important;
  color: #737373 !important;
  font-size: 1rem!important;
  transition: all 1s;
}
.navbar-brand{
  color:#737373!important;
}

.nav-link{
  color:#737373!important;
}

.navbar-nav{
  margin-left: 2rem;
}
.bt-rdv-nav a{
  color:#737373!important;
}

.navbar--hidden {
  box-shadow: none;
  transform: translate3d(0, -100%, 0);
}