.order-link{
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}


.order-link-btn {
  font-family: 'GFS Didot', serif;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  text-align: center;
  color: rgb(181, 197, 211);
  border: 1px solid rgb(181, 197, 211);
  font-weight: bold;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding:1rem 1.5rem;
  transition: all .3s;

  &:hover{
    transform: translateY(-10px);
    background-color:rgb(181, 197, 211);
    border: 1px solid rgb(181, 197, 211);
      color:#fff ;
  }
  &:active{
    transform: translateY(5px);
  }
}

.embed-responsive{
  width: 80% !important ;
}