
.resume {
  width: 40%;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  color: #666;
  margin-right: 2rem;


  &__text {
    text-align: justify;
    list-style: none;

    &--list {
      padding: 1rem;
    }
  }
}