
.resume {
  width: 100%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #666;
  margin-right: 2rem;
  font-weight: 300;


  &__text {
    text-align: justify;
    list-style: none;

    &--list {
      padding: 1rem;
    }
  }
}