.sm-header-modal {
  z-index: 2  ;
  overflow: auto;
  background-color: #B5C5D3;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  border-radius: 0 0 35px 35px;
  animation-name: moveInBottom;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  -webkit-overflow-scrolling:touch;
}

.sm-header-box {
  width: 50%;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  transition: all .2s;

  &:hover{
    transform: scale(1.1);

  }

  a{
    color: #fefefe;
    a:hover{
      color: #fefefe;
    }

}
  &--1 {

    border-right: 2px solid #fefefe;
  }
}